@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

thead {
  @apply bg-amber-700;
}
li {
  @apply mx-2 text-white uppercase font-semibold hover:text-yellow-300;
}

.button-fixed {
  @apply bg-gray-700 text-white font-semibold px-2 py-1 rounded-md m-2 opacity-30 hover:opacity-50 active:bg-black focus:opacity-100;
}

.button-primary {
  @apply text-white outline-1 outline-amber-800 bg-amber-700 hover:bg-amber-800 active:bg-amber-900 px-2 py-1;
}
.button-disable {
  @apply text-stone-700 outline-1 outline-amber-800 bg-stone-200 px-2 py-1;
}

th {
  @apply text-white;
}
.color-primary {
  @apply bg-amber-50;
}

.text-primary {
  @apply text-amber-900 font-semibold;
}

.card {
  @apply mb-5 block rounded-lg border-gray-200 shadow-md shadow-amber-500;
}
.color-secondary {
  @apply bg-amber-700;
}

.color-tertiery {
  @apply bg-amber-400;
}
th,
td {
  @apply py-2 text-center font-semibold;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
